/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* common style */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}
/* top banner style */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 59px;
    margin-bottom: 130px;
}
.container {
    width: 1112px;
    height: 641px;
    background-color: #161616;
    border-radius: 20px;
}
.top-banner {
    display: flex;
    justify-content: center; 
    padding: 30px;
}
.banner-info { 
    width: 531px;
    color: #FFFFFF;
}
.banner-title {
    font-weight: 700;
    font-size: 55px;
}
.button {
    margin-top: 40px;
}
.watch-button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    border-radius: 10px;
    padding: 16px 25px;
    font-size: 20px;
}
.font-awesome {
    margin-left: 10px;
}
.half-width img {
    width: 581px;
}
/* Top banner end */
/* Second section start */
.second-section {
    display: flex;
    /* column-gap: 24px; */
    column-gap: 10px;
    /* width: 1112px; */
    margin-bottom: 130px;
}
.first-box {
    background-color: #161616;
    border-radius: 10px;
    width: 240px;
    height: 240px;
}
.aside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-1 {
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.box-2 {
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.box-3 {
    width: 180px;
    padding: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 300px;
    text-align: center;
}
.link-button {
    text-decoration: none;
    color: black;
}
/* //// */
.second-box {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.transfer-button {
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 5px 10px;
}
.box {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-direction: column;
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.blog-image {
    width: 312px;
    height: 175px;
}
.button-icon {
    display: flex;
    column-gap: 20px;
}
/* Second section end */
/* Footer section start */
.footer-detail {
    /* width:px; */
    background-color: #161616;
    height: 350px;
    text-align: center;
    border: 2px solid gold;
}
.footer-info {
    margin-top: 80px;
}
.footer-title {
    font-weight: 700;
    color: #FFFFFF;
}
hr {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 1112px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    color: #B9B9B9;
}
/* foooter end  */
/* Home . Html  */
.blog-box {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom:  130px;
}
.blog-image-home {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.blog-image-home img {
    width: 93.04px;
    height: 56.18px;
}
.blog-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-title {
    font-weight: 600;
    font-size: 20px;
    color: #161616;
}